@font-face{font-family: "Vogue" ;
            src: url("fonts/Vogue.ttf") format("truetype");}

@font-face {
    font-family: "Helvetica";
    src: url("fonts/Helvetica.ttf") format("truetype");
}






body{background-color:rgb(228,228,216);
     padding: 0px 0px 0px 0px;
     margin: 0px 0px 0px 0px;
     color: rgb(10,65,62) ;
     font-family:Helvetica Neue, Helvetica, sans-serif;

}


header{background-color: rgb(255,255,255);  /* background color du menu */
      color: rgb(10,65,62) ;
      padding-top: 10px ;
      display:flex;
      flex-direction:column;
      justify-content: center;
      padding-left: 20% ;
      padding-right: 20% ;
      box-shadow: 0px 5px 5px #B3B3A6;
}
.menu{
    background-color: rgb(255,255,255);  /* background color du menu */
    color: rgb(10,65,62);  /*  color du text */


  }

 .logo{	height:auto;
        width: 200px ;
        display: block;
        margin-left: auto;
        margin-right: auto ;
		transition: transform .2s;}

.logo:hover{transform: scale(1.03);}

#login{position: absolute;
       top: 5px;
       right: 15px;
       z-index:9999;
       padding: 7px 20px;
       color: #85919d;
       border: 2px solid rgba(10,65,62, 0.5);
       -webkit-border-radius: 7px;
       -moz-border-radius: 7px;
       -ms-border-radius: 7px;
       border-radius: 7px;
       transition-duration: 0.5s}

#login:hover{position: absolute;
             top: 5px;
             right: 15px;
             z-index:9999;
             padding: 7px 20px;
             color:rgba(10, 65, 62, 1);
             border: 2px solid rgba(10, 65, 62, 1);
             -webkit-border-radius: 7px;
             -moz-border-radius: 7px;
            -ms-border-radius: 7px;
            border-radius: 7px;}


.inscription {
    background-color: rgb(255,255,255);
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 150px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: auto;
}

p{ padding-bottom:40px;
      font-family: helvetica;
      text-align: center;

}

h1,h3{font-family: "Vogue";
   text-align: center;
   font-size: 50px}

.pleft{text-align: left ;
	   margin-left: 5%;
	   margin-right: 5%;
	   font-family: helvetica;

    
	   }
/*
=====
ACCUEIL
=====
*/
.banner{   width:100%;
           height:auto;
           margin-top: 100px;
           margin-bottom: 100px;
           margin-left:0px;
           margin-right:0px;
           padding-left:0px;
           padding-right:0px;
           }

 #cover{       background: url(images/bckground1.jpg) no-repeat center center  ;
               background-size: cover;
               min-height:  800px;
               width:  100%;
               height: auto;
               overflow: hidden;
               position : relative  ;
               padding-top: 80px;
               padding-bottom:0px;
               margin-bottom:0px;
          }
/*
=====
LES BOITES
=====
*/

.container{display:flex;
           flex-wrap: wrap;
           justify-content: space-between;
           margin-left:0px;
           margin-right:0px;
           padding-left:0px;
           padding-right:0px;

           }



.item{ height: 250px ;
       width:33%;
       margin-left:0px;
       margin-right:0px;
       margin-bottom:8px;
       transition-duration: 0.5s;


     }



/*
=====
CONTACT
=====
*/
.boitecontact{
              margin-right:15%;
              margin-left:15%;
              margin-top: 150px;


              }
.imgcontact{ position: absolute;
            top: 25%;
            width:600px ;
            height:500px;
}
.carrév{background-color:rgb(10,65,62);
        color: white;
         position: absolute;
         width:280px ;
         height:280px;
         left:40% ;
         top: 30%;
         padding:20px 20px 20px 20px}
.carrév h2{ text-align: center ;
            font-family: Vogue;
            padding-top:30px}
.carrév p{ text-align: center ;
           padding: 0px 0px 0px 0px ;}

/*
=====
FORMULAIRE
=====
*/
fieldset{margin-right: 15%;
         margin-left: 15%;
         margin-top: 50px;
         margin-bottom: 50px;
         background-color: #eeeeee;

}
fieldset label{
               padding-bottom:10px

}
fieldset input{position : relative;
              margin-bottom:10px


}

legend{ background-color: rgb(10,65,62);
      color: white;
      padding: 5px 10px;}

.sexe{display: flex;
      }

/*
=====
FORMULAIRE CONTACT
=====
*/

.contactform{ position:absolute ;
              display: flex ;
              flex-direction: column ;
              border: solid grey 1px;
              border-radius: 5% ;
              padding: 20px ;
              right: 8% ;
              width: 400px;
              top:20%;
              }

.contactform input[type=submit] {
  background-color: rgb(10,65,62);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contactform input[type=text], textarea,select, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}

.contactform label{margin-right: 0px;
  margin-left: 0px;
  width: 100%;}


/*
=====
FOOTER
=====
*/

footer {
  height: 60px;
  width: 100%;
  background: rgb(10,65,62);
  position:relative;
  bottom: 0px;
  color: rgb(255,255,255);
  text-align: center ;

}
footer .top_line {
  height: 5px;
  width: 100%;
  top: 0;
  background-color: rgb(255,255,255)	;

}

/*
=====
MENU
=====
*/

.r-link{
  display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href]{
  color: var(--rLinkColor) !important;
  text-decoration: var(--rLinkTextDecoration, none) !important;
}

.r-list{
  padding-left: !important;
  margin-top: var(--rListMarginTop, 0) !important;
  margin-bottom: var(--rListMarginBottom, 0) !important;
  list-style: var(--rListListStyle, none) !important;
}






.menu:hover .menu__link:not(:hover){
  --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));  /* Couleur des balises qui sont pas hover */
}

/*
=====
PRESENTATION STYLES MENU
=====
*/

.menu__list{
  display: flex;
  justify-content: space-between ;

}

.menu__link{
  padding: var(--menuLinkPadding, 0.5rem 2.5rem);
  font-weight: 700;
  text-transform: uppercase;
}
/*
=====
QUI SOMME NOUS
=====
*/
#quisommesnous {
   
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: left;
}
#qsn {
    height:400px;
    width:100%;
	
}

/*
=====
TEXT UNDERLINED
=====
*/


.text-underlined{
    position: relative;
    overflow: hidden;
    will-change: color;
    transition: color .25s ease-out;
  }

  .text-underlined::before,
  .text-underlined::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);

    will-change: width;
    transition: width .1s ease-out;
    position: absolute;
    bottom: 0;
  }

  .text-underlined::before{
    left: 50%;
    transform: translateX(-50%);
  }

  .text-underlined::after{
    right: 50%;
    transform: translateX(50%);
  }

  .text-underlined:hover::before,
  .text-underlined:hover::after{
    width: 100%;
    transition-duration: .2s;
  }
