@font-face{font-family: "Vogue" ;
            src: url("fonts/Vogue.ttf") format("truetype");}

@font-face {
    font-family: "Helvetica";
    src: url("fonts/Helvetica.ttf") format("truetype");
}






body{background-color:rgb(228,228,216);
     padding: 0px 0px 0px 0px;
     margin: 0px 0px 0px 0px;
     color: rgb(10,65,62) ;
     font-family:Helvetica Neue, Helvetica, sans-serif;
    

}
a {
    text-decoration: none;
    color: white;
}

header{background-color: rgb(255,255,255);  /* background color du menu */
      color: rgb(10,65,62) ;
      padding-top: 10px ;
      display:flex;
      flex-direction:column;
      justify-content: center;
      padding-left: 20% ;
      padding-right: 20% ;
      box-shadow: 0px 5px 5px #B3B3A6;
}
.menu{
    background-color: rgb(255,255,255);  /* background color du menu */
    color: rgb(10,65,62);  /*  color du text */


  }

 .logo{	height:auto;
        width: 200px ;
        display: block;
        margin-left: auto;
        margin-right: auto ;
		transition: transform .2s;}

.logo:hover{transform: scale(1.03);}

#logbtn {
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 9999;
    padding: 7px 20px;
    color: white;
    background-color: rgb(10,65,62);
    border: 2px solid rgba(10,65,62, 0.5);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    transition-duration: 0.5s
}

#logbtn:hover{position: absolute;
             top: 5px;
             right: 15px;
             z-index:9999;
             padding: 7px 20px;
             color:rgba(228, 228,216, 1);
             border: 2px solid rgba(10, 65, 62, 1);
             -webkit-border-radius: 7px;
             -moz-border-radius: 7px;
             -ms-border-radius: 7px;
              border-radius: 7px;}

#logbtn2 {
    position: absolute;
    top: 5px;
    right: 140px;
    z-index: 9999;
    padding: 7px 20px;
    color: #85919d;
    border: 2px solid rgba(10,65,62, 0.5);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    transition-duration: 0.5s
}

#logbtn2:hover {
    position: absolute;
    top: 5px;
    right: 140px;
    z-index: 9999;
    padding: 7px 20px;
    color: rgba(10, 65, 62, 1);
    border: 2px solid rgba(10, 65, 62, 1);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}


.inscription {
    background-color: rgb(255,255,255);
    padding-top: 5px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 150px;
    margin-right: 20%;
    margin-left: 20%;
    margin-bottom: auto;
}

p{ padding-bottom:40px;
      font-family: helvetica;
      text-align: center;

}

h1,h3{font-family: "Vogue";
   text-align: center;
   font-size: 50px ;
   padding-top:0px;
}

.pleft{text-align: left ;
	   margin-left: 5%;
	   margin-right: 5%;
	   font-family: helvetica;

    
	   }

.lock {
    width: 20px;
    transform: rotate(-30deg);
}



/*
=====
ACCUEIL
=====
*/
.banner{   width:100%;
           height:auto;
           margin-top: 100px;
           margin-bottom: 100px;
           margin-left:0px;
           margin-right:0px;
           padding-left:0px;
           padding-right:0px;
           overflow:hidden;
           }

 #cover{       background: url(images/bckground1.jpg) no-repeat center center  ;
               background-size: cover;
               min-height:  800px;
               width:  100%;
               height: auto;
               overflow: hidden;
               position : relative  ;
               padding-top: 80px;
               padding-bottom:0px;
               margin-bottom:0px;
          }

 .bande{margin-left:20%;
        margin-right:20%;
        background-color: white;
        padding-top:1px;
        margin-top:0px;
  
 }

.nohover {
    overflow: hidden;
    width: 33%;
    height: 250px;
    margin-bottom: 8px;
}
/*
=====
LES BOITES
=====
*/

.container{display:flex;
           flex-wrap: wrap;
           justify-content: space-between;
           margin-left:0px;
           margin-right:0px;
           padding-left:0px;
           padding-right:0px;

           }



.item {

    margin-left: 0px;
    margin-right: 0px;
    

    
}



/*
=====
CONTACT
=====
*/
.boitecontact{
              margin-right:15%;
              margin-left:15%;
              margin-top: 150px;


              }
.imgcontact{ position: absolute;
            top: 25%;
            width:600px ;
            height:500px;
}
.carrév{background-color:rgb(10,65,62);
        color: white;
         position: absolute;
         width:280px ;
         height:280px;
         left:40% ;
         top: 30%;
         padding:20px 20px 20px 20px}
.carrév h2{ text-align: center ;
            font-family: Vogue;
            padding-top:30px}
.carrév p{ text-align: center ;
           padding: 0px 0px 0px 0px ;}

/*
=====
FORMULAIRE
=====
*/
fieldset {
    margin-right: 15%;
    margin-left: 15%;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #eeeeee;
    border-radius: 5px;
}
fieldset label{
               padding-bottom:10px

}
fieldset input{position : relative;
              margin-bottom:10px


}

legend{ background-color: rgb(10,65,62);
      color: white;
      padding: 5px 10px;}

.sexe{display: flex;
      }

/*
=====
FORMULAIRE CONTACT
=====
*/

.contactform{ position:absolute ;
              display: flex ;
              flex-direction: column ;
              border: solid grey 1px;
              border-radius: 5% ;
              padding: 20px ;
              right: 8% ;
              width: 400px;
              top:20%;
              }

.contactform input[type=submit] {
  background-color: rgb(10,65,62);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.contactform input[type=text], textarea,select, input[type=email] {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  margin-right: 0px;
  margin-left: 0px;
  resize: vertical;
}

.contactform label{margin-right: 0px;
  margin-left: 0px;
  width: 100%;}


/*
=====
FOOTER
=====
*/

footer {
    height: 60px;
    width: 100%;
    background: rgb(10,65,62);
    position: relative;
    top: 0vh;
    color: rgb(255,255,255);
    text-align: center;
}
footer .top_line {
  height: 5px;
  width: 100%;
  top: 0;
  background-color: rgb(255,255,255)	;

}

/*
=====
MENU
=====
*/

.r-link{
  display: var(--rLinkDisplay, inline-flex) !important;
}

.r-link[href]{
  color: var(--rLinkColor) !important;
  text-decoration: var(--rLinkTextDecoration, none) !important;
}

.r-list{
  padding-left: !important;
  margin-top: var(--rListMarginTop, 0) !important;
  margin-bottom: var(--rListMarginBottom, 0) !important;
  list-style: var(--rListListStyle, none) !important;
}






.menu:hover .menu__link:not(:hover){
  --rLinkColor: var(--menuLinkColorUnactive, rgba(22, 22, 22, .35));  /* Couleur des balises qui sont pas hover */
}

/*
=====
PRESENTATION STYLES MENU
=====
*/

.menu__list{
  display: flex;
  justify-content: space-between ;

}

.menu__link{
  padding: var(--menuLinkPadding, 0.5rem 2.5rem);
  font-weight: 700;
  text-transform: uppercase;
}
/*
=====
QUI SOMME NOUS
=====
*/
#quisommesnous {
   
    margin-top: 0px;
    margin-bottom: 50px;
    text-align: left;
}
#qsn {
    height:400px;
    width:100%;
	
}

.bande2 {
    margin-left: 20%;
    margin-right: 20%;
    background-color: white;
    padding-top: 1px;
    padding-bottom:50px;
}


/*
=====
TEXT UNDERLINED
=====
*/


.text-underlined{
    position: relative;
    overflow: hidden;
    will-change: color;
    transition: color .25s ease-out;
  }

  .text-underlined::before,
  .text-underlined::after{
    content: "";
    width: 0;
    height: 3px;
    background-color: var(--textUnderlinedLineColor, currentColor);

    will-change: width;
    transition: width .1s ease-out;
    position: absolute;
    bottom: 0;
  }

  .text-underlined::before{
    left: 50%;
    transform: translateX(-50%);
  }

  .text-underlined::after{
    right: 50%;
    transform: translateX(50%);
  }

  .text-underlined:hover::before,
  .text-underlined:hover::after{
    width: 100%;
    transition-duration: .2s;

  }
/*
=====
CONNEXION
=====
*/
.connexion {
    margin-right: 20%;
    margin-left: 20%;
}




/*
=====
CATALOGUE
=====
*/


.contenue {
    background-color: #EFEFEF ;
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}

.contenue h1 {
        padding-top: 10px;
        margin-top: 10px;
}

.filtre {
    border-right :black solid 1px;
    width:20%;
    
    }

.grosseboite {
    margin-right: 50px;
    width:100%;
}

.boite {
    margin-left: 10px;
    margin-bottom: 20px;
    width: 100%;
    background-color: white;
    display: flex;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    border-radius: 10px 30px 30px 10px;
    overflow: hidden;
}

.petiteboite {
    width: 100%;
    max-height: 200px;
    display: grid;
    grid-template-columns: 65% 15% 20%;
    grid-template-rows: 25% 37% 37%;
}

.petiteboite h2 {
    font-weight: bold;
    font-size: 40px;
    padding: 0px;
    margin: 0px;
    margin-left: 15px;
}

.petiteboite .desc{
    margin-left: 10px;
    margin-right: 15px;
    text-align: justify;
    padding-bottom: 0px;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 3;
}

    .petiteboite select {
        margin: auto;
        height: 50px;
        width: 100px;
        text-align: center;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }

.petiteboite span {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    padding-top: 10px;
}

.column{
    display:flex;
    flex-direction:column;
}

h3 {
    font-size: 20px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    padding-top: 5px;
}

#logbtn3 {
    position: absolute;
    top: 5px;
    right: 30px;
    z-index: 9999;
    padding: 7px 20px;
    color: #85919d;
    border: 2px solid rgba(10,65,62, 0.5);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
    transition-duration: 0.5s
}

#logbtn3:hover {
    position: absolute;
    top: 5px;
    right: 30px;
    z-index: 9999;
    padding: 7px 20px;
    color: rgba(10, 65, 62, 1);
    border: 2px solid rgba(10, 65, 62, 1);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    border-radius: 7px;
}
/*
=====================
   /!\ ANIMATION /!\
=====================
*/
.item {
    width: 100%;
    height: 100%;
    transition-duration:0.7s;
    
}
.item:hover {
    transform: scale(1.10);
    overflow: hidden;
}

/*
=====================
   /!\ BOUTON ACHETER /!\
=====================
*/


.psuedo-text {
    color: #0a413e;
    position: relative;
    top: 0;
    display: inline;
    height: auto;
    transition: .25s ease-in;
    transition-delay: .1s;
}

.flex-1 {
    flex: 1;
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
    align-items:center;
    margin-right:auto;
    margin-left:auto;
    
}

.button {
    padding: 8px 36px;
    background: white;
    text-align: center;
    display: inline-block;
    font-size: 1.7rem;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    will-change: transform;
}

.button-mat {
    color: #0a413e;
    border: 0px transparent;
    border-radius: .3rem;
    transition: .3s ease-in-out;
    transition-delay: .35s;
    overflow: hidden;
}
    .button-mat:before {
        content: '';
        display: block;
        background: #0a413e;
        position: absolute;
        width: 200%;
        height: 500%;
        border-radius: 100%;
        transition: 0.36s cubic-bezier(0.4, 0, 1, 1);
    }
  .button-mat:hover .psuedo-text {
    color: white; }
  .button-mat:hover {
    color: transparent; }

.btn--5 {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }
  .btn--5:before {
    transform: translate(-120%, -50%) translateZ(0); }
  .btn--5:hover:before {
    transform: translate(-45%, -34%) translateZ(0); }

/*
=====================
   /!\ Panier /!\
=====================
*/

.panier {
    margin:20px 5vw;
    background-color: #EFEFEF;
    display:flex;
    justify-content:space-around;
    padding: 5px;
}

.tab {
    padding: 0px 20px;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70vw;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}



.boite2 {
  
    border-top: grey 1px solid;
    display: flex;
}

.retour{
position:absolute;
top:0px;
left:0px;
color:red
}

.imgpanier{
   width:250px;
   padding: 10px 0px;        
}

.total {
    background-color: white;
    height: 100px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.desc {
    display: flex;
    justify-content: space-between;
    width:100%;
    padding:0px 10px;
    text-align:justify;
}

.desc p{

    text-align:left;
}